.main {
  grid-gap: 1rem;
  display: grid;
  grid-template-rows: minmax(2rem, 4rem) min-content;
  width: 100%;
}
@media only screen and (max-width: 62.5em) {
  .main {
    margin: 0;
    width: 100%;
    padding: 10px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.logo {
  font-size: 4rem;
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  flex: 0 0 40%;
  color: hsl(236, 13%, 42%);
  text-align: center;
}
@media only screen and (max-width: 62.5em) {
  .nav {
    display: none;
    width: 0;
  }
}
.nav__items {
  position: relative;
  padding: 2% 0;
}
.nav__items::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  background-color: hsl(35, 77%, 62%);
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
}
.nav__items:hover::before {
  transform: scaleX(1);
}

.body {
  grid-gap: 2rem;
  display: grid;
}
@media only screen and (max-width: 62.5em) {
  .body {
    display: inline;
  }
}

.content {
  grid-row: 1/3;
  grid-column: 3/4;
  padding: 1rem;
  background-color: hsl(240, 100%, 5%);
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 62.5em) {
  .content {
    margin-bottom: 1rem;
  }
}
.content__head {
  color: hsl(35, 77%, 62%);
  font-size: 2.5rem;
  padding-bottom: 10%;
  margin: auto 0;
}
.content__topics {
  flex: 1;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.content__details {
  display: grid;
  padding-bottom: 10%;
}
.content__details:not(:last-child) {
  border-bottom: 1px solid hsl(233, 8%, 79%);
  margin-bottom: 3rem;
}
.content__h2 {
  font-size: 1rem;
  padding: 5% 0;
}
.content__text {
  color: hsl(233, 8%, 79%);
  line-height: 1.5;
}

.w3 {
  grid-row: 1/2;
  grid-column: 1/3;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 62.5em) {
  .w3 {
    height: 10rem;
    margin-bottom: 1rem;
  }
}

.prospect {
  grid-row: 2/3;
  grid-column: 1/2;
  font-size: 3.5rem;
  font-weight: 700;
}
@media only screen and (max-width: 62.5em) {
  .prospect {
    margin-bottom: 1rem;
  }
}

.cta {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 62.5em) {
  .cta {
    margin-bottom: 1rem;
  }
}
.cta__text {
  color: hsl(236, 13%, 42%);
  margin-bottom: auto;
  font-weight: 600;
  line-height: 1.6;
}
.cta__btn {
  border: none;
  background-color: hsl(5, 85%, 63%);
  padding: 1rem 1.5rem;
  color: hsl(233, 8%, 79%);
  letter-spacing: 2px;
  transition: all 0.5s;
}
.cta__btn:hover {
  background-color: hsl(5, 56%, 62%);
}
.cta__btn:active {
  background-color: hsl(240, 100%, 5%);
}
.cta__btn:focus {
  background-color: hsl(240, 100%, 5%);
}

/*.preview{
    display: grid;
   // grid-template-columns: 30% 1fr;
    grid-gap: .5rem;
   // grid-template-rows: minmax(min-content, 10rem);   
}
.previews{
    @media only screen and (max-width:$bp-large){
        min-width: 17rem;
    }
   // max-height: 12rem;
  //  &:not(:last-child){
    //  margin-bottom: $margin;
  //  }
    display: grid;
    grid-template-columns: repeat(2, min-content);
      line-height: 3rem;

      &__text{
        grid-template-rows: repeat(3, min-content);
        display: grid;
       // grid-column: 2/-1;
    }

    &__image{
        width: 100%;
      //  height: 10rem;
        object-fit: cover;
       // grid-row: 1/ span 3;
       // grid-column: 1/2;

        @media only screen and (max-width:$bp-small){
            max-height: 17rem;
        }


        @media only screen and (max-width:$bp-medium){
            max-height: 15rem;
        }
    }

    span{
        font-size: 1.8rem;
        color: $grayish-blue;
        font-weight: 600;
    }
    h2{
        font-weight: 600;
        margin-bottom: auto;
        font-size: 1.2rem;
    }

    p{
        color: $dark-grayish-blue;
        line-height: 1.5;
        font-weight: 500;
    }
   }*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 93.65%;
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 3rem;
}
@media only screen and (max-width: 62.5em) {
  body {
    padding: 0;
  }
}

.menu {
  display: none;
  width: 0;
}
@media only screen and (max-width: 62.5em) {
  .menu {
    display: inline;
    width: 100%;
  }
}
.menu__checkbox {
  display: none;
}
.menu__button {
  height: 5rem;
  width: 5rem;
  position: absolute;
  right: -1.5rem;
  top: -23px;
  border-radius: 50%;
  z-index: 2000;
  cursor: pointer;
}
.menu__background {
  height: 100%;
  width: 0;
  position: fixed;
  top: 1.5%;
  right: -75%;
  background-color: white;
  z-index: 1000;
  transform: translateX(90rem);
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1), width 0.5s;
}
@media only screen and (max-width: 62.5em) {
  .menu__background {
    top: 0;
    right: 0;
  }
}
.menu__list {
  position: absolute;
  top: 50%;
  right: -36%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 2rem;
  list-style: none;
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 62.5em) {
  .menu__list {
    right: -55%;
    font-size: 1rem;
  }
}
.menu__list__item {
  margin: 1rem;
  position: relative !important;
  cursor: pointer;
  z-index: 1200;
}
.menu__list__item:hover::before {
  transform: scaleY(1);
  width: 40%;
}
.menu__list__item:hover {
  animation: shake 0.4s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2rem);
  }
  50% {
    transform: translateX(-2rem);
  }
  75% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
.menu__checkbox:checked ~ .menu__background {
  width: 120%;
  transform: translateX(1.6rem);
}
.menu__checkbox:checked ~ .menu__nav {
  opacity: 1;
  width: 100%;
}
.menu__icon {
  position: relative;
  margin-top: 3.5rem;
  color: black;
  border-radius: 6px;
}
.menu__icon:active {
  position: fixed;
}
.menu__icon, .menu__icon::before, .menu__icon::after {
  width: 3rem;
  height: 4px;
  background-color: black;
  border-radius: 6px;
  display: inline-block;
}
.menu__icon::before, .menu__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.menu__icon::before {
  top: -0.8rem;
}
.menu__icon::after {
  top: 0.8rem;
}
.menu__button:hover .menu__icon::before {
  top: -1rem;
}
.menu__button:hover .menu__icon::after {
  top: 1rem;
}
.menu__checkbox:checked + .menu__button .menu__icon {
  position: fixed;
  right: 20%;
  background-color: transparent;
  top: 8%;
}
@media only screen and (max-width: 62.5em) {
  .menu__checkbox:checked + .menu__button .menu__icon {
    position: fixed;
    right: 9%;
    top: 2%;
  }
}
.menu__checkbox:checked + .menu__button .menu__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.menu__checkbox:checked + .menu__button .menu__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.preview {
  display: flex;
}
@media only screen and (max-width: 62.5em) {
  .preview:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.preview--1 {
  grid-row: 3/4;
  grid-column: 1/2;
}
.preview--2 {
  grid-row: 3/4;
  grid-column: 2/3;
}
.preview--3 {
  grid-row: 3/4;
  grid-column: 3/4;
}
.preview__image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 7rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .preview__image {
    width: 90%;
    height: 90%;
  }
}
.preview span {
  font-size: 1.8rem;
  color: hsl(233, 8%, 79%);
  font-weight: 600;
}
@media only screen and (max-width: 37.5em) {
  .preview span {
    font-size: 2rem;
  }
}
.preview h2 {
  font-weight: 7700;
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5em) {
  .preview h2 {
    font-size: 1rem;
  }
}
.preview p {
  color: hsl(236, 13%, 42%);
  font-weight: 500;
  line-height: 1.5;
}
.preview__text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media only screen and (max-width: 37.5em) {
  .preview__text {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=main.css.map */